<p>
  Add Edge
</p>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="obj.name" placeholder="Name">
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Source" [(ngModel)]="obj.source">
    <mat-option value="{{bts.id}}" *ngFor="let bts of btses">{{bts.name}}</mat-option>
  </mat-select>  
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Target" [(ngModel)]="obj.target">
    <mat-option value="{{bts.id}}" *ngFor="let bts of btses">{{bts.name}}</mat-option>
  </mat-select>    
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Link Type" [(ngModel)]="obj.linktype">
    <mat-option value="0">IP_Transit</mat-option>
    <mat-option value="1">Core</mat-option>
    <mat-option value="2">Branch</mat-option>
    <mat-option value="3">BTS</mat-option>
    <mat-option value="4">AP</mat-option>
    <mat-option value="5">Client</mat-option>
  </mat-select>    
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="obj.vendor" placeholder="Vendor">
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="obj.capacity" placeholder="Capacity">
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="obj.description" placeholder="Description">
</mat-form-field>


<button mat-button (click)="saveEdge(obj)">Save</button>