<p>
  Add Link
</p>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="edge.id">
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Source" [(ngModel)]="edge.source">
    <mat-option value="{{bts.name}}" *ngFor="let bts of btses">{{bts.name}}</mat-option>
  </mat-select>  
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Target" [(ngModel)]="edge.target">
    <mat-option value="{{bts.name}}" *ngFor="let bts of btses">{{bts.name}}</mat-option>
  </mat-select>    
</mat-form-field>


<button matButton (click)="updateEdge(edge)">Update</button>