<p>
  Add Link
</p>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="edge.id">
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="edge.name">
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Source" [(ngModel)]="edge.source">
    <mat-option value="{{bts.id}}" *ngFor="let bts of btses">{{bts.id}}</mat-option>
  </mat-select>  
</mat-form-field>
<mat-form-field class="full-width">
  <mat-select placeholder="Target" [(ngModel)]="edge.target">
    <mat-option value="{{bts.id}}" *ngFor="let bts of btses">{{bts.id}}</mat-option>
  </mat-select>    
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="edge.description">
</mat-form-field>

<button mat-button (click)="updateEdge(edge)">Update</button>
<button mat-button (click)="removeEdge(edge)">Remove</button>