<p>
  {{title}}
</p>
<mat-form-field class="full-width">
  <input type="text" matInput placeholder="Nama" [(ngModel)]="obj.name">
</mat-form-field>

<mat-form-field class="full-width">
  <mat-select placeholder="Node Type" [(ngModel)]="obj.nodetype">
    <mat-option value="0">IP_Transit</mat-option>
    <mat-option value="1">Core</mat-option>
    <mat-option value="2">Branch</mat-option>
    <mat-option value="3">BTS</mat-option>
    <mat-option value="4">AP</mat-option>
    <mat-option value="5">Client</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="full-width">
  <input type="text" matInput placeholder="Address" [(ngModel)]="obj.address">
</mat-form-field>

<mat-form-field class="full-width">
  <input type="text" matInput placeholder="City" [(ngModel)]="obj.city">
</mat-form-field>

<mat-form-field class="full-width">
  <input type="text" matInput placeholder="Location" [(ngModel)]="obj.location">
</mat-form-field>

<mat-form-field class="full-width">
  <input type="text" matInput placeholder="Description" [(ngModel)]="obj.description">
</mat-form-field>

<button class="mat-button" (click)="saveBts(obj)">Save</button>