.full-width{
    width: 100%;
}
.padipointer{
    padding-left: 5px;
}
.padipointer:hover{
    cursor: pointer;
    background: gold;
    color: blue;
}
.eightypercent{
    width: 80%;
}
.ninetypercent{
    width: 90%;
}
