<p>
  PadiNEt Infrastructure Info
</p>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="component.id" placeholder="ID">
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="component.name" placeholder="Name">
</mat-form-field>
<mat-form-field class="full-width">
  <input type="text" matInput [(ngModel)]="component.location" placeholder="Locations">
</mat-form-field>
<button matButton (click)="closeDialog()">Close</button>
<button matButton (click)="updateComponent(component)">Update</button>
